/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nerko One', cursive;
    background-color: #add8e6;
    margin: 0 15%;
    text-align: center;
}


/* utilities */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.card{
    width: 180px;
    height: 210px;
    background-image: url(../img/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 1px #000;
    margin-top: 1%;
}


/* header */
header{
    color: #fff;
    font-size: 50px;
    text-shadow: 2px 1px #000;
}


/* game */
